{% extends 'base.html' %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{{ food.image.url }}" class="card-img-top" alt="{{ food.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ food.name }}</h5>
            <p class="card-text">{{ food.description }} - {{ food.price }} soum</p>
            <a href="{% url 'edit_food' food.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'all_foods' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock %}
